<!DOCTYPE html>
<html>

<head>
  <title>ElectMongo</title>
  <!-- build:js scripts/vendor.js -->
  <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-material/angular-material.js"></script>
  <!-- endbuild -->
  <link rel="stylesheet" href="./app/css/app.css">
</head>

<body ng-app="electmongo" ng-controller="mainCtrl">
  <md-toolbar style="-webkit-app-region: drag">
    <div class="md-toolbar-tools" layout="row" layout-align="center">
      <h3>ElectMongo<a href="http://techrd.in/electmongo">by TechRD.in</a></h3>
    </div>
  </md-toolbar>
  <div layout="column" class="section" layout-align="center none">
    <div layout-xs="column" layout-align="center start" layout-margin>
      <div layout="row">
       <md-input-container flex>
        <input type="text" ng-model="ip" placeholder="IP"></input>
      </md-input-container>
      <md-input-container flex="10">
        <input type="text" ng-model="port" placeholder="Port"></input>
      </md-input-container>
            <md-input-container flex>
        <input type="text" ng-model="db_name" placeholder="DB Name"></input>
      </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex>
        <input type="text" ng-model="username" placeholder="Username(optional)"></input>
      </md-input-container>
      <md-input-container flex>
        <input type="text" ng-model="password" placeholder="Password(optional)"></input>
      </md-input-container>
      </div>

      <md-button class="md-raised md-warn connect" type="button" ng-click="connect()" flex>Connect</md-button>
    </div>
    <md-switch class="md-primary" aria-label="showlog" ng-click="switchShowlog()">Logs</md-switch>
    <md-list ng-hide="!showlog" ng-repeat="log in logs">
      <md-list-item>
        <span>{{log}}</span>
      </md-list-item>
    </md-list>
    <div class="bottom-bar" layout="row" layout-align="end">
      <p>Create by <a href="www.techrd.in">TechRD.in</a></p>
    </div>
  </div>
</body>

<footer>
  <script src="./app/js/app.js"></script>
</footer>

</html>